body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.profile-header {
    text-align: left;
    padding: 20px 10px 10px 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: left;
    ;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 150px 0 10px 0;
}

.about p {
    max-width: 800px;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

.podcast {
    background-color: #333;
    padding: 50px 0;
    color: #ffffff;
    text-align: center;
}

.work-together {
    padding: 50px 0;
    text-align: center;
}

/* Add more styles as needed for other sections */
.project-cards {
    display: flex;

    justify-content: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    /* Provides space between the cards */
    margin-bottom: 20px;
}

.project-card {
    background-color: #ffffff;
    padding: 20px;
    width: fit-content;
    text-align: center;
    /* Centering the content */
}

.project-card p {
    margin: 10px 0;
    /* Provides spacing between the title and description */
}


.project-image {
    width: 100%;
    /* Make the image fit the width of the card */
    height: auto;
    /* Keep the aspect ratio of the image */
    border-top-left-radius: 5px;
    /* Round the top-left corner */
    border-top-right-radius: 5px;
    /* Round the top-right corner */
    object-fit: cover;
    /* Cover the designated space without stretching */
}


.form-side-one{

    width:30%;
}
 .form-holder{
    width: 50%;
 }

.footer-form {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    /* Adjust as needed */
    margin: auto;
    /* Centering the box */
}

.footer-form h2 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-form p {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 20px;
    /* Space between icons */
    margin-bottom: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    /* Adjust color as needed */
}

.footer-form form {
    display: flex;
    flex-direction: column;
}

.footer-form input,
.footer-form textarea,
.footer-form button {
    padding: 10px;
    margin-bottom: 15px;
   
    font-size: 16px;
}

.footer-form button {
    background-color: #333;
    /* Adjust color as needed */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-form button:hover {
    background-color: #555;
    /* Adjust color as needed */
}

@media (max-width: 768px) {
    .project-card {
        width: 100%;
        /* Cards will take full width on smaller screens */
    }
}


.navbar {
    background-color: white;
    padding: 1rem 0;
}

.navbar-inner {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #E74C3C;
    /* Red color for hover effect */
}